[submodule "ext/libmspuartlink"]
	path = ext/libmspuartlink
	url = https://github.com/CMUAbstract/libmspuartlink
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = https://github.com/CMUAbstract/libmsp
[submodule "ext/libmspware"]
	path = ext/libmspware
	url = https://github.com/CMUAbstract/libmspware
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = https://github.com/CMUAbstract/libmspbuiltins
[submodule "ext/libfixed"]
	path = ext/libfixed
	url = https://github.com/CMUAbstract/libfixed
[submodule "ext/libfxl"]
	path = ext/libfxl
	url = https://github.com/CMUAbstract/libfxl
[submodule "ext/libio"]
	path = ext/libio
	url = https://github.com/CMUAbstract/libio
[submodule "tools/maker"]
	path = tools/maker
	url = https://github.com/CMUAbstract/maker
[submodule "tools/alpaca"]
	path = tools/alpaca
	url = https://github.com/CMUAbstract/alpaca-oopsla.git
[submodule "ext/libapds"]
	path = ext/libapds
	url = https://github.com/CMUAbstract/libapds
[submodule "ext/libcapybara"]
	path = ext/libcapybara
	url = https://github.com/CMUAbstract/libcapybara
[submodule "ext/libradio"]
	path = ext/libradio
	url = https://github.com/CMUAbstract/libradio.git
[submodule "tools/pacarana/Pacarana/libpacarana"]
	path = tools/pacarana/Pacarana/libpacarana
	url = git@github.com:CMUAbstract/libpacarana.git
[submodule "tools/pacarana/LLVM"]
	path = tools/pacarana/LLVM
	url = git@github.com:CMUAbstract/pacarana-pass.git
